@import "tailwindcss";

@theme {
  --color-primary: #01334e;
  --color-secondary: #ed1c24;
}

/* Optionally, customise container padding */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

html {
  @apply h-full bg-gray-100;
}

body {
  @apply h-full;
}
